@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

.input-phone .PhoneInputInput {
  background: transparent;
  border: none;
  outline: none;
  color: #d5d7dc;
  width: 100%;
  margin-left: 3px;
}

@layer base {
  /* Remove scrollbar */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }
}

